body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}


/* NAVBAR */
.navbar{
    background-color: #ebebeb;
    height: 5rem;
    
}

.fa-compass{
    color: #fe424d;
    height: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* FOOTER */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-socials,.f-info-links,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}

/* CARDS */
.listing-card{
    border: none !important;
    /* margin-bottom: 2rem; */
}

.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}
.card-text p plus-jakarta-sans {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.card-text{
    padding: 0;
    margin: 0;
}

.listing-link{
    text-decoration: none;
    color: black;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn,.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
    color: black ;  
}
.edit-btn a{
    text-decoration: none !important;
    color: white !important ;
}

.show-img{
    height: 10rem;

}

.cust-card{
    height: auto !important;
    width: 60vh !important;
}

.cust-btn{
    float: left;    
}

/* MAP */
#map{
    height: 400px;
    width: 100vh;
}